.height-div {
    height: 45vh;
}

.full-card {
    /* padding: 60px; */
    margin-top: 25px;
    border-radius: 6px;
    margin: 18px;
    color: white;
    background-color: #011325;
    height: 90%;
}

.secondary-content {
    padding: 50px;
}

.date-line {
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
}

.primary-content-div {
    display: flex;
    justify-content: center;
}

.primary-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
}

.primary-content h1 {
    font-size: 15vh;
    line-height: .95;
}

.primary-content p {
    font-size: 2vh;
}

.secondary-content p {
    font-size: 2vh;
}

.add-new-drink-btn {
    width: 100px;
    height: 20px;
    border: none;
    background-color: #6b7f88;
    font-family: "Roboto Condensed";
    /* font-size: 18px; */
    border-radius: 6px;
    color: white;
}

.cup {
    transform: translate(0%, 0%);
    width: 14vh;
    height: 18vh;
    border: 6px solid #011325;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 
    0 0 0 6px #fff,
    0 20px 35px rgba(0, 0, 0, 1)
    ;
    display: flex;
    align-items: flex-end;
}
.cup::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 8vh;
    border: 6px solid #fff;
    right: -69px;
    top: 3vh;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-40 {
    /* height: 40%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; */

    width: 100%;
    height: 100%;
    border-radius: 5px 5px 20px 20px;
    background-color: rgba(27, 149, 224, .9);
    box-shadow: inset 0 0 20px 0 rgba(0, 0 , 0, 0.8),
    0 0 20px 0 rgba(0, 0, 0, 0.3)
    ; 
    position: relative;
    overflow: hidden;
}

.filler-40::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    top: -412px;
    left: -150px;
  }
  
  .filler-40::after {
    border-radius: 38%;
    background: #011325;
    animation: wave 17s linear infinite;
  }

.filler-50 {
    /* height: 50%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: inset 0 0 20px 0 rgba(0, 0 , 0, 0.8),
    0 0 20px 0 rgba(0, 0, 0, 0.3)
    ; */

    width: 100%;
    height: 100%;
    border-radius: 5px 5px 20px 20px;
    background-color: rgba(27, 149, 224, .9);
    box-shadow: inset 0 0 20px 0 rgba(0, 0 , 0, 0.8),
    0 0 20px 0 rgba(0, 0, 0, 0.3)
    ; 
    position: relative;
    overflow: hidden;
}

.filler-50::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    top: -433px;
    left: -150px;
  }

  .filler-50::after {
    border-radius: 38%;
    background: #011325;
    animation: wave 17s linear infinite;
  }

  @keyframes wave {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    box-shadow: inset 0 0 20px 0 rgba(0, 0 , 0, 0.8),
    0 0 20px 0 rgba(0, 0, 0, 0.3)
    ; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* animation: animate 4s ease-in-out infinite; */
}

.filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* tablet */
@media all and (max-width: 991px) {


.full-card {
    height: 80%;
}

.primary-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}

}

/* phone */
@media all and (max-width: 767px) {

.detail {
    font-size: 16px;
    padding: 5px;
} 

.cup {
    width: 70px;
    height: 90px;
    border: 6px solid #011325;
    box-shadow: 
    0 0 0 3px #fff,
    0 20px 35px rgba(0, 0, 0, 1)
    ;
    border: 4px solid #011325;
}

.cup::before {
    width: 20px;
    height: 35px;
    border: 3px solid #fff;
    right: -30px;

    top: 2vh;
}

.primary-content h1 {
    font-size: 80px;
    line-height: .95;
}

.primary-content {
    justify-content: space-around;
    padding-top: 15px;
}

.secondary-content {
    padding: 15px;
}

.secondary-content p {
    font-size: 12px;
}

.full-card {
    height: 68%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* .height-div {
    height: 40vh;
} */
 
}