.full-card {
    /* padding: 60px; */
    margin-top: 25px;
    border-radius: 6px;
    margin: 18px;
    color: white;
    background-color: #011325;
}

.secondary-content {
    padding: 25px;
}

.date-line {
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.primary-content h1 {
    font-size: 75px;
}

.add-new-drink-btn {
    width: 100px;
    height: 20px;
    border: none;
    background-color: #6b7f88;
    font-family: "Roboto Condensed";
    /* font-size: 18px; */
    border-radius: 6px;
    color: white;
}
