.height-div {
    height: 45vh;
}

.full-card {
    /* padding: 60px; */
    margin-top: 25px;
    border-radius: 6px;
    margin: 18px;
    color: white;
    background-color: #011325;
    height: 90%;
}

.secondary-content {
    padding: 25px;
}

.date-line {
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
}

.primary-content h1 {
    font-size: 15vh;
}

.primary-content p {
    font-size: 2vh;
}

.secondary-content p {
    font-size: 2vh;
}

/* .date-line p {
    font-size: 1.6vh;
}

.date-line button {
    font-size: 1.4vh;
} */

.add-new-drink-btn {
    width: 100px;
    height: 20px;
    border: none;
    background-color: #6b7f88;
    font-family: "Roboto Condensed";
    /* font-size: 18px; */
    border-radius: 6px;
    color: white;
}
