.half-card {
    display: flex;
    justify-content: center;
    padding: 5px;;
    background-color: #011325;
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 10px;
    color: white;
    border-radius: 6px;
}

.detail {
    padding: 10px;
    font-size: 18px;
}

/* tablet */
@media all and (max-width: 991px) {


}

/* phone */
@media all and (max-width: 767px) {
.detail {
    font-size: 12px;
    padding: 5px;
} 

.half-card {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
    
}