.detail-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-inner {
    position: relative;
    padding: 32px;
    height: 55vh;
    width: 350px;
    background-color: #f3f3f2;
}

.detail-inner .close-btn-div {
    position: absolute;
    top: 16px;
    right: 16px;
}

.percentage-bar {
    background-color: aqua;
    width: 25%;
    height: 40vh;
}

.content-holder {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 15px;
}

.percentage-bar p {
    font-size: 10px;
}

.water-filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-40 {
    height: 40%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-50 {
    height: 50%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.water-filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgba(27, 149, 224, .9);
}

.sports-drink-filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-40 {
    height: 40%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-50 {
    height: 50%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.sports-drink-filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgb(237, 181, 76);
}

.milk-filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-40 {
    height: 40%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-50 {
    height: 50%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgb(224, 196, 196)
}

.milk-filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.milk-filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgb(224, 196, 196);
}

.juice-filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-40 {
    height: 40%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-50 {
    height: 50%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.juice-filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgb(241, 134, 134);
}

.tea-filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-40 {
    height: 40%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-50 {
    height: 50%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.tea-filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgb(90, 123, 90);
}

.other-filler-0 {
    height: 0%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-10 {
    height: 10%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-20 {
    height: 20%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-30 {
    height: 30%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-40 {
    height: 40%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-50 {
    height: 50%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-60 {
    height: 60%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-70 {
    height: 70%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-80 {
    height: 80%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-90 {
    height: 90%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.other-filler-100 {
    height: 100%;
    width: 100%;
    background-color: rgb(190, 222, 250);
}

.water-color {
    width: 10px;
    height: 10px;
    background-color: rgba(27, 149, 224, .9);
    margin-right: 5px;
}

.sports-drink-color {
    width: 10px;
    height: 10px;
    background-color: rgb(237, 181, 76);
    margin-right: 5px;
}

.milk-color {
    width: 10px;
    height: 10px;
    background-color: rgb(224, 196, 196);
    margin-right: 5px;
}

.juice-color {
    width: 10px;
    height: 10px;
    background-color: rgb(241, 134, 134);
    margin-right: 5px;
}

.tea-color {
    width: 10px;
    height: 10px;
    background-color: rgb(90, 123, 90);
    margin-right: 5px;
}

.other-color {
    width: 10px;
    height: 10px;
    background-color: rgb(190, 222, 250);
    margin-right: 5px;
}

.drink-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
/* tablet */
@media all and (max-width: 991px)  {

    /* .detail-inner {

        height: 600px;

    } */
    
    }
    
/* phone */
@media all and (max-width: 767px) {

    .detail-inner {
        height: 60vh;
        width: 290px;
    }
    
    }


