.div {
    padding-top: 20px;
    background-color: #f3f3f2;
    border-radius: 6px;
}

.form-holder {
    margin-top: 50px;
    width: 60%;
    display: inline-block;
}

.form-holder form label {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

.form-holder form input {
    width: 100%;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

.form-submit-btn {
    width: 75px;;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #011325;
    font-family: "Roboto Condensed";
    font-size: 18px;
    border-radius: 6px;
    color: white;
}

/* tablet */
@media all and (max-width: 991px) {
    .form-holder {
        margin-top: 0px;
    }
    
    .div {
        padding-top: 5px;
    }
    
    .form-holder form label {
        margin-top: 5px;
        font-size: 14px;
    }
    
    .form-submit-btn {
        width: 55px;
        height: 25px;
        margin-top: 10px;
        font-size: 14px;
    }
    
    .div h2 {
        padding-bottom: 5px;
    }

}

/* phone */
@media all and (max-width: 767px) {
.form-holder {
    margin-top: 0px;
}

.div {
    padding-top: 5px;
}

.form-holder form label {
    margin-top: 5px;
    font-size: 14px;
}

/* .form-holder form input {
    width: 100%;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
} */

.form-submit-btn {
    width: 55px;
    height: 25px;
    margin-top: 10px;
    font-size: 14px;
}

.div h2 {
    padding-bottom: 5px;
}
    
}