.background {
    font-family: "Roboto Condensed";
    width: 100%;
    height: 100vh;
}

.signup-box {
    width: 360px;
    height: 450px;
    margin: auto;
    background-color: #f3f3f2;
    border-radius: 3px;
    margin-top: 15px;
}

.signup-box h1 {
    text-align: center;
    padding-top: 15px;
}

.signup-box form {
    width: 300px;
    margin-left: 20px;
}

.signup-box form label {
    display: flex;
    margin-top: 20px;
    font-size: 16px;
}

.signup-box form input {
    width: 100%;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

.submit-btn {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(72, 67, 67);
    font-family: "Roboto Condensed";
    font-size: 18px;
    border-radius: 6px;
    color: white;
}

.para {
    text-align: center;
    color: rgb(72, 67, 67);
    font-size: 15px;
    margin-top: -10px;
}

.option-btn {
    margin-top: -10px;
    height: 21px;
    width: 50px;
    border: none;
    background-color: rgb(72, 67, 67);
    font-family: "Roboto Condensed";
    font-size: 12px;
    border-radius: 6px;
    color: white;
}

.outside-popup {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}