.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.full-panel {
    border-radius: 6px;
    margin: 45px;
    position: absolute;
    z-index: 2;
    background-color: #f3f3f2;
    width: 75%;
    overflow-y: scroll;
    height: 85%;
}

.h1 {
    text-align: center;
    padding-top: 5vh;
}

h2 {
    padding-bottom: 1.75vh;
    padding-top: .75vh;
}

.general-knowledge {
    margin: 50px;
}

.general-knowledge p {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.factors {
    margin: 50px;
}

.factors p {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.citation {
    margin: 50px;
}

li {
    margin-left: 45px;
}